$text1:"poppins";
$text2:"Roboto";

$background-primary:#fff;
$background: #161616;

$color-primary:#fff;
$color-secondry:#2f2e2e;

$btn-Background:rgb(215, 110, 12);
$btn-Background2:rgb(16, 100, 16);